$fuenteHeading:'Montserrat', sans-serif;
$fuenteParrafos: 'Arimo', sans-serif;

$sm-fontsize: 1.4rem;
$lg-fontsize: 1.6rem;

.greeting {
    font-family: $fuenteHeading;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
    color: rgb(117, 117, 117);
}

.ItemListContainer {
    #carousel {
        width: 100%;
        padding: 5rem 0 8rem 0;
        height: 100%;

        img {
            height: 15rem;
        }
    }

    .Items-title {
        font-family: $fuenteHeading;        
        text-align: center;

        h1 {
            font-size: 2.2rem;
            text-transform: uppercase;
        }

        span {
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

@media(min-width: 768px) {
    .ItemListContainer {
        #carousel {
            img {
                height: 25rem;
            }
        }

        .Items-title {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr max-content 1fr;
            grid-template-rows: 27px 0;
            grid-gap: 20px;

            &:after,&:before {
                content: "";
                display: block;
                border-bottom: 2px solid black;
                border-top: 2px solid black;
                height: 8px;
            }

            h1 {
                font-size: 2.8rem;
            }
        }
    }
}

@media(min-width: 1024px) {
    .ItemListContainer {
        #carousel {
            img {
                height: 40rem;
            }
        }

        .Items-title {
            h1 {
                font-size: 4rem;
            }
        }
    }
}