$fuenteHeading:'Montserrat', sans-serif;
$fuenteParrafos: 'Arimo', sans-serif;

$sm-fontsize: 1.4rem;
$lg-fontsize: 1.6rem;

$azul: #17408B;
$blanco: #ffffff;
$rojo: #C9082A;
$blanco: #ffffff;


.Cart_list-item {
    display: flex;
    padding: 1.5rem .5rem;
    
    &:not(:last-of-type) {
        border-bottom: 1px solid rgb(220, 220, 220);
    }

    .Item_img {
        width: 33%;
        padding: 1rem;
    }

    .Item_data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.3rem;

        &-nombre {
            font-weight: bold;
            margin-bottom: .4rem;

        }

        &-precio {
            margin-bottom: .4rem;
        }

        &-quantity {
            margin-bottom: .4rem; 
        }

        &-total {
            font-weight: bold;
            margin-bottom: .4rem;
        }

        .Item_delete {
            border-radius: 5px;
            width: 35%;
        }
    }
}

@media(min-width: 768px) {
    .Cart_list-item {

        .Item_img {
            width: 25%;
            padding: 1rem;
        }
    
        .Item_data {

            &-nombre {
                margin-bottom: .6rem;
    
            }
    
            &-precio {
                margin-bottom: .6rem;
                
            }
    
            &-quantity {
                margin-bottom: .6rem; 
            }
    
            &-total {
                font-weight: bold;
                margin-bottom: .6rem;
    
            }
    
            .Item_delete {
                width: 25%;
            }
        }
    }
}

@media(min-width: 1024px) {
    .Cart_list-item {
        
        .Item_img {
            width: 20%;
        }

        .Item_data {
            font-size: $lg-fontsize;

        }
    }
}